@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<div class="container">
    <div class="row-fluid margin-bottom-30">
        <div class="span6">
            <p>
                Lenora Systems is an agile and innovative organization that constantly delivers best value out of your ICT <span id="z2m8psa461_1">investments</span>.   Lenora was started by a group of ICT industry professionals with vast   experience across the length and breadth of ICT services and product   development.Our endeavor is to unlock the value of ICT investments of   our customers in order to become their growth partner of choice. Driven   by innovative culture and passion for excellence, Lenora strives to   bring in positive transformation through effective and compassionate   collaboration of all stake holders.<br>
                <br>
                Lenora Systems is led by <span id="z2m8psa461_5">highly qualified</span> and thoroughly experienced IT Professionals with an aim to deliver   value and unlock the true potential of Organizational IT Assests and   investments. We strongly believe that IT is inseparable and an integral   lifeline for all walks of life. We firmly believe in making a difference   through providing tailor made and highly efficient, trendsetting,   scalable, reliable and robust solutions and <span id="z2m8psa461_2">services</span> to the business community and mankind in general.<br>
                <br>
                IT implementation in any area requires careful   consideration and thoughtful calibration so as to deliver value through   proper optimization of all resources. It requires careful planning,   thoughtful insight and proper implementation to maximize the <span id="z2m8psa461_6">usability</span> and <span id="z2m8psa461_3">returns on investment</span>. <br>
                <br>
                We believe in making positive difference   through honest commitment, qualitative delivery, value driven   engagements and ultimate value addition. We also believe that our growth   depends on the growth and prosperity of our customers, the <span id="z2m8psa461_4">heart and soul</span> of our business model. Thus our endeavor is to deliver the best value   to our customers under all circumstances and to become indispensable   partners in our customers growth story.
            </p>
            <ul class="unstyled">
                <li><strong>Our Vision</strong></li>
                <li>
                    To become a global ICT service provider of choice and indispensable value proposition of highest order that delivers ultimate and sustainable stake-holder value generation after generation.<br><br>

                    <strong>Our Mission</strong>
                </li>
                <li>To bring in positive value-ladentransformation through compassion and conviction to create symbiotic and collaborative ecosystem that can deliver optimal value and splendid results for all stakeholders and enhances quality of life as a whole. </li>
            </ul>
</div>
        </div>
    </div>
